{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid page about-page">
    <section>
        <div class="row">
            <div class="row justify-content-center mt-3">
                <div class="col-md-5 col-sm-12">
                    <img src="{% static 'images/about.jpeg' %}" class='img-fluid'>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="row justify-content-center mt-5"> 
                <div class="col-md-10 col-sm-12">
                    <p>PW Services, Inc is dedicated to improving the quality of life for the people in need of guardianship
                        and <em>alternative protective</em> services.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
         <div class="row">
            <div class="row justify-content-center"> 
                <div class="col-md-2 col-sm-12">
                    <img src="{% static 'images/about1.png' %}" class='img-fluid'>
                </div>
            </div>
        </div>
    </section>

     <section>
        <div class="row">
            <div class="row justify-content-center mt-5"> 
                <div class="col-md-10 col-sm-12">
                    <p>
                        PW Services, Inc serves individuals who are unable to make responsible judgements about their personal lives and/or
                       financial affairs. Such individuals might be developmentally disabled, deemed legally incapacitated or suffer exploitation.
                    </p>
                    <p>
                        This judgement of any incapacitation is made by the Social Security Administration, the applicable county
                       Probate Court, or another human service/medical agency.
                    </p>
                    <p>
                        Individuals may also voluntarily request services provided by PW Services, Inc.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
         <div class="row">
            <div class="row justify-content-center"> 
                <div class="col-md-2 col-sm-12">
                    <img src="{% static 'images/about1.png' %}" class='img-fluid'>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="row justify-content-center mt-5"> 
                <div class="col-md-10 col-sm-12">
                    <p>
                        <em>PW Services, Inc Principles</em> 
                    </p>
                    <p>
                        The individual will be encouraged to acquire and maintain the maximum possible freedom while being assisted by 
                        PW Services, Inc
                    </p>
                    <p>
                        Decisions by PW Services, Inc will be based upon the perceived best interest of the client and based on the 
                        least restrictive alternative.
                    </p>
                     <p>
                        Factors taken into consideration include, but are not limited to:
                    </p>
                    <ul>
                        <li>
                            The wishes of the client based on verbal and/or written medical directives.
                        </li>
                        <li>
                            Opinions of medical professionals and case managers.
                        </li>
                        <li>
                            Input from involved family, friends, or other relevant parties.
                        </li>
                    </ul>
                    <p>
                        Information about PW Services, Inc clients is considered confidential and will be shared only with the 
                        appropriate parties under applicable guidlines.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
         <div class="row">
            <div class="row justify-content-center mb-5"> 
                <div class="col-md-2 col-sm-12">
                    <img src="{% static 'images/about1.png' %}" class='img-fluid'>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock content %}


