{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page process-page">
    <section>
        <div class="row">
            <div class="row justify-content-center mt-3">
                <div class="col-md-5 col-sm-12">
                    <img src="{% static 'images/process.jpeg' %}" class='img-fluid' style='width: 800px; height: 150px;'>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-12 col-sm-12">
                    <h3>Requesting Services from PW Services, Inc</h3>
                    <p>
                        Any interested person who knows an individual that may need PW Services, Inc's assistance may contact us to
                        schedule a consultation. The intial consultation will focus on the individual's needs for services.
                    </p>
                    <p>
                        If PW Services, Inc agrees to serve, the next step depends upon the actual service(s) needed.
                    </p>
                    <h3>⚫ Guardianship / Conservatorship</h3>
                        <p>
                            The client or an interested party must petition the Probate Court. PW Services, Inc does not file 
                            the petition.
                        </p>
                    <h3>⚫ Power of Attorney / Trusts</h3>
                        <p>
                            The client may seek the aid of a private attorney or use documents prepared by Legal Aid or our
                            corporate attorney.
                        </p>
                    <h3>⚫ Representative Payeeships</h3>
                        <p>
                           - in conjunction with Guardianship and/or Conservatorship services.
                        </p>
                        <p>
                           PW Services, Inc will prepare the Social Security application.
                        </p>
                    <h3>Who May Apply</h3>
                        <p>
                           Clients should meet one of the following situations:
                        </p>
                        <p>
                            🟢 No living relatives.<br/>
                            🟢 No relative/friend who is able or willing to serve. <br />
                            🟢 Relative/friend whose abilities are questioned bye the Social Security Administration, Probate Court,
                            or Department of Human Services.
                        </p>
                    <h3>Petitioning the Probate Court</h3>
                        <p>
                           The major steps in the petition process for Guardianship and/or Conservatorship are:
                        </p>
                        <p>
                            ⏺️ Filing the proper petition and notifying the interested parties as required by the Probate Court.<br/>
                            ⏺️ Probate Court will appoint a Guardian Ad Litem to the alleged incapacitated individual. <br />
                            ⏺️ Proving, at a hearing that the person lacks capacity to make decisions for himself or herself.
                        </p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}