{% extends 'landing/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 col-sm-12">
            <h1><i class="fas fa-cogs"></i>Services</h1>
        </div>
        <div class="mt-1">
            <ul>
                <li>
                    Guardianship
                </li>
                <li>
                    Conservatorship
                </li>
                <li>
                    Power of Attorney
                </li>
                <li>
                    Trust Agreement
                </li>
                <li>
                    Money Management
                </li>
                <li>
                    Medicaid Eligibility Issues/Application
                </li>
                <li>
                    Representative Payee - in conjunction with Guardianship and/or Conservatorship services
                </li>
            </ul>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <div class="front-text">
                                    <p>Role</p>
                                    <p>Of</p>
                                    <p>A</p>
                                    <p>Guardian</p>
                                </div>
                        </div>
                        <div class="flip-card-back">
                            <p class='mt-5'> 
                                A Guardian is a court appointed substitute decision maker. The common areas of concern regard,
                                but are not limited to residence, medical treatment, and basic income management.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="front-text">
                                    <p>Role</p>
                                    <p>Of</p>
                                    <p>A</p>
                                    <p>Conservator /</p>
                                    <p>Fiduciary</p>
                                </div>
                        </div>
                        <div class="flip-card-back">
                            <p class='mt-5'> 
                                The duties of a Conservator / Fiduciary include collecting, budgeting, spending,
                                and protecting the person's income and assets for their care.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-md-6 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <div class="front-text">
                                    <p>Accountability</p>
                                    <p>For</p>
                                    <p>Our</p>
                                    <p>Services</p>
                                </div>
                        </div>
                        <div class="flip-card-back">
                            <p class='mt-5'> 
                                Annual Accounts and Annual reports are submitted to the Probate Court.
                            </p>
                            <p> 
                                Annual Reviews and Reports are required by the Veterans Administration.
                                PW Services Inc works closely with all Governmental and Community Service
                                Agencies to insure strict aliiance to applicable standards.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="front-text">
                                    <p>Medicaid</p>
                                    <p>Eligibility</p>
                                    <p>Issues /</p>
                                    <p>Application</p>
                                </div>
                        </div>
                        <div class="flip-card-back">
                            <p class='mt-5'> 
                                PW Services, Inc provides our clients with filling out Medicaid applications and follow through.
                            </p>
                            <p> 
                                We can also provide assistance to others with the application process.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock content %}