<footer class="sticky-bottom">
  <div class="container">
    <div class="row">
        <div class="col-4">
          <small>
              <a href="{% url 'event_create' %}">Staff Login</a>
            </small>
        </div>
        <div class="col-4">
          <small>
             <a href="#top">Back to the top</a>
            </small>
        </div>
        <div class="col-4 text-right small align-self-end">
         <p><small>PW Services Inc <em>&copy;2021</em></small></p>
    </div>
  </div>
</footer>