{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand">
        <img src="{% static '/images/logo.png' %}" class='img-fluid'>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'process' %}">Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'consult' %}">Consultation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'event_list' %}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'resources' %}">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'event_create' %}">Create Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
        </li>
        {% endif %}
    </div>
  </div>
</nav>
